---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Blog_layout from "../layouts/Blog_layout.astro";
---

<Layout title="Snow in Cainwood">
<Blog_layout>
    <h1>Snow in Cainwood</h1>
    <h4 class="headline">The snow has fallen in Cainwood</h4>
    <p>The development of the game is slowly chugging along and in this development update we have chosen to focus on snow and the different mechanics that snow could bring to the game.</p>
    <img src="/snow_in_cainwood.jpg" alt="image from the game">
    <p>Why snow though? Quite early on we were intrigued by the concept of placing our game in a snowy setting purely from an artistic setting approach. Very much inspired by movies such as "The Thing" and the beatiful eerie winter landscapes of Sweden as drawn by Simon Stålenhag. As the time went on the idea festered and we began to see all the things that the snow could bring to the game, not just visually, but in genuine game mechanics. For example snow allows us to add in footsteps in the snow, which people could use to track or misguide each other. You can have blizzards, which dissorient the players plays with the sense of direction.</p>
    <h4 class="headline">Implementation of the snow</h4>
    <p>The snow is done through the use of a tesselation modifier added to the terrain of levels. The "footsteps" are created by checking the player position with the terrain and altering the localized tesselation accordingly. Below is a short preview of the system in action - all very much a work in progress.</p>
    <img src="/cainwood_gif.gif" alt="Gif of game content">
    <p>The problem with this way of doing things is that it adds a lot of computing to tesselate the landscape. Therefore as you hint on the below image then the tesselation increases the closer to the camera you get.</p>
    <p>As can also be seen is the work that is being put into our particle systems and creating falling snow that will gradually fill up those pesky footsteps in the snow.</p>
    <img src="/cainwood_grid.jpg" alt="3D grid from the making of the game">
    <p>Lastly, we are prototyping on adding different buildings to the game. We are creating different versions to test how it feels like with large indoor environments, many small environments og keeping the game mostly outside.</p>
    <img src="/3d_model.jpg" alt="3D model of a cabin in the game">
    <p>Thanks for tuning into our development blog. Remember that everything is all very much a work-in-progress and does not resemble the final product. Much of what we have chosen to showcase is our journey through the development of the game and we hope that you will enjoy the ride.</p>
    <p class="cursive">- The Invisible Walls team</p>
</Blog_layout>
</Layout>

<style>

h1{
    margin-top: var(--space-xl);
  }

.headline{
    font-size: var(--text-1);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
  text-shadow: none;
  letter-spacing: 1px;
  margin-top: var(--space-xl);
}

.cursive{
    font-size: var(--text-0);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: var(--space-s);
}

@media (max-width: 800px) {
  
  h1{
    margin-top: var(--space-2xl);
  }

}

</style>