---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Blog_layout from "../layouts/Blog_layout.astro";
---

<Layout>
<Blog_layout>
    <h1>Celebrating One Year of First Class Trouble</h1>
    <img src="/blog_image_3.jpg" alt="Image from the game">
    <p>On April 8th, 2021, we had no idea what we'd be getting into with the Early Access launch of First Class Trouble. One year and over <span class="fat">20 million</span> bottles of champagne later, we're still going strong.</p>
    <p>To this day we are still getting hundreds of new Passengers on a daily basis. It is impossible for us to really thank you all for coming along on this journey with us. We're looking forward to what the future brings for both First Class Trouble and Invisible Walls.</p>
    <p>With that out of the way, on to the juicy stuff: Celebrations! To celebrate one year since Early Access, we're going to be doing a Drops Bonanza on Twitch. From April 8th to April 23rd, we're going to be running two drops campaigns featuring almost all previous drops giving you a chance to earn some that you may have missed. Each drop campaign will also feature a brand new drop. Check out below for the full details.</p>
    <div class="grid">
      <img src="/blog_image_4.jpg" alt="A rake from the game">
      <div>
        <h4 class="headline">One year celebration</h4>
        <p class="cursive">April 8th, 2022 00:00 UTC to April 15th, 2022 23:59 UTC</p>
        <p>Beekeeper's Hat, Bunny Slippers, Pumpkin Mask, Witch Hat, and a new drop: The Rake</p>
      </div>
    </div>
    <div class="grid">
      <img src="/blog_image_5.jpg" alt="A sharkfin from the game">
      <div>
        <h4 class="headline">One year celebration part 2</h4>
        <p class="cursive">April 16th, 2022 00:00 UTC to April 22nd, 2022 23:59 UTC</p>
        <p>Witch Nose, Pumpkin Hat, Skull Hat, Camouflage Beekeeper's Hat, Hazmat Suit, TV Goggles, and a new drop: The Sharkfin</p>
      </div>
    </div>
    <p>Both drop campaigns will use 30 minute watch intervals for the drop. (30 for Gym Outfit, another 30 for Viking Hat, etc)</p>
    <p>Claim & check drops <a class="enabled" href="https://drops.firstclasstrouble.com/">here</a> and <a class="enabled" href="https://www.twitch.tv/drops/inventory">here</a></p>
</Blog_layout>
</Layout>

<style>

h1{
    margin-top: var(--space-xl);
  }

.headline{
    font-size: var(--text-1);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
  text-shadow: none;
  letter-spacing: 1px;
  margin-top: var(--space-xl);
}

.cursive{
    font-size: var(--text-0);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: var(--space-s);
}

.fat{
  font-weight: 700;
  color: var(--iw-color-orange);
}

.grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px;
}

@media (max-width: 800px) {
  
  h1{
    margin-top: var(--space-2xl);
  }

}

</style>