---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Blog_layout from "../layouts/Blog_layout.astro";
---

<Layout title="Project Cainwood">
<Blog_layout>
    <h1>Project Cainwood</h1>
    <h4 class="headline">Announcement of Project Cainwood</h4>
    <p>Invisible Walls are proud to announce Project Cainwood. Project Cainwood is what we internally have initially dubbed our cooperative multiplayer survival game for modern consoles and PC.</p>
    <img src="/project_cainwood.jpg" alt="Project Cainwood">
    <p>The game is a game of deceit and betrayal. You have to work together, but a player is hiding their true identity and in the shadows conducts unsavory deeds that actively works against your common goal of escaping the terrible pedicament you are in.</p>
    <h4 class="headline">Status of the project</h4>
    <p>The game is currently in the pre-production stage. Meaning that all the mechanics are being ideated and tested in the form of very rough prototypes.</p>
    <img src="/cainwood_prototype_1.jpg" alt="Prototype of game">
    <p>It has been amazing to be able to start a project from scratch and forget everything you did and design something from the ground up that is truly unique. We believe that the game that we envision will bring something yet unseen in a cooperative multiplayer game.</p>
    <img src="/cainwood_prototype_2.jpg" alt="Prototype of game">
    <p>Designing an entire game from the ground up furtheremore has the advantage that it allows for us to experiment a lot more with everything from setting, art design, mechanics and so forth.</p>
    <p>In the end we want to create something does not look or feel like other games you may have played. This means that over the coming months you will see many different art-styles represented, but overall looking very prototypical.</p>
    <img src="/cainwood_prototype_3.jpg" alt="Prototype of game">
    <p>We hope you enjoy the sneak preview of Project Cainwood. As mentioned then the screenshots and premise are all very early snippets of the final game. Follow us closely on all our relevant social media for more updates on this upcoming title.</p>
    <p class="cursive">- The Invisible Walls team</p>
</Blog_layout>
</Layout>

<style>

h1{
    margin-top: var(--space-xl);
  }

.headline{
    font-size: var(--text-1);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
  text-shadow: none;
  letter-spacing: 1px;
  margin-top: var(--space-xl);
}

.cursive{
    font-size: var(--text-0);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: var(--space-s);
}

@media (max-width: 800px) {
  
  h1{
    margin-top: var(--space-2xl);
  }

}

</style>