---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Blog_layout from "../layouts/Blog_layout.astro";
import SinglePostCommentSection from "../components/SinglePostCommentSection.astro";
---

<Layout title="At GDC">
<Blog_layout>
    <h1>Invisible Walls at GDC</h1>
    <img src="/invisible_walls_at_gdc.jpg" alt="Game developers conference">
    <p>The three musketeers of Invisible Walls (Sebastian, Niels & David) have flown halfway around the globe (if you still believe in such a thing) to look at seals, a golden bridge and of course talk about game development.</p>
    <p>We are out there pitching our core project Cainwood and of course how we choose to run our game development studio. However, in between we took a stroll to look at the beatiful vibrant city of San Francisco.</p>
    <div class="galleri">
      <img src="/galleri_1.jpg" alt="Our time in San francisco">
      <img src="/galleri_2.jpg" alt="Our time in San francisco">
      <img src="/galleri_3.jpg" alt="Our time in San francisco">
      <img src="/galleri_4.jpg" alt="Our time in San francisco">
      <img src="/galleri_5.jpg" alt="Our time in San francisco">
      <img src="/galleri_6.jpg" alt="Our time in San francisco">
      <img src="/galleri_7.jpg" alt="Our time in San francisco">
      <img src="/galleri_8.jpg" alt="Our time in San francisco">
    </div>
    <p class="orange">#ProjectCainwood #cainwood #gdc</p>
    <SinglePostCommentSection blogPostID="invisible_walls_at_gdc"/>
</Blog_layout>
</Layout>

<style>

h1{
    margin-top: var(--space-xl);
  }

.headline{
    font-size: var(--text-1);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
  text-shadow: none;
  letter-spacing: 1px;
  margin-top: var(--space-xl);
}

.cursive{
    font-size: var(--text-0);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: var(--space-s);
}

.galleri{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 800px) {
  
  h1{
    margin-top: var(--space-2xl);
  }

}

</style>