---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Blog_layout from "../layouts/Blog_layout.astro";
import SinglePostCommentSection from "../components/SinglePostCommentSection.astro";
---

<Layout title="Developer Blog">
<Blog_layout>
    <h1>Welcome to the development blog of Invisible Walls</h1>
    <p>This is our first of many development blogs that will be published on this site. The goal is to, at least, do a development blog once a month where we go over the general development of the various projects we are doing. On this blog you will see every step that we have to tread in order to create a video game for all of you.</p>
    <h4 class="headline">New office, projects and challenges</h4>
    <p>First of all; in the end of December we finished moving to our new office in Sydhavnen. We are going to miss the friends we made in the old complex, but we can't be more excited about the capabilities of the new office.</p>
    <img src="/new_office.jpg" alt="Our new office">
    <p>Our new office is, as mentioned, located in Sydhavnen. We have entered into a collaboration with Aalborg University Copenhagen, where we have set up our office and garnered access to a lot of new tech that we will utilize into our future projects.</p>
    <img src="/welcome_to_the_development_blog_of_invisible_walls.jpg" alt="Our new office">
    <p>The move to Sydhavnen will allow us to in a much larger degree experiment with virtual reality, motion- and performance capture. Our goal is to bring an even higher production value when it comes to story-telling and portraying motion.</p>
    <p>Furthermore, we have begun the development of a series of projects, which are currently in pre-production. In the beginning we aim to work on the projects as much as possible as the main focus area, meanwhile we will seek out work-for-hire contracts to fulfill the gaps when the projects are in pre-production. We are very excited to show you more of the projects in the very near future. </p>
    <p>2018 is certainly starting our with a lot of excitement in the entire office and we can't wait to see what the future will bring.</p>
    <p>We all wish you a warm and cozy winter around the world.</p>
    <p class="cursive">- The whole team at Invisible Walls</p>
    <SinglePostCommentSection blogPostID="welcome_to_the_development_blog_of_invisible_walls"/>
  </Blog_layout>
</Layout>

<style>

h1{
    margin-top: var(--space-xl);
  }

.headline{
    font-size: var(--text-1);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
  text-shadow: none;
  letter-spacing: 1px;
  margin-top: var(--space-xl);
}

.cursive{
    font-size: var(--text-0);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: var(--space-s);
}

@media (max-width: 800px) {
  
  h1{
    margin-top: var(--space-2xl);
  }

}

</style>