---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Blog_layout from "../layouts/Blog_layout.astro";
---

<Layout>
<Blog_layout>
    <h1>Looking back on First Class Trouble</h1>
    <p>It's been over a year since First Class Trouble launched in Early Access, but the team has been at work for over three years to bring this game to all of you. There's a lot that can happen over that length of time. Since you've all shared your experiences with us we wanted to share some of our memories with you. We asked the team about some of their fondest memories over the last three years, and here's what they had to say.</p>
    <h4 class="headline">From The Captain</h4>
    <p>I have so many fond memories. I remember not being able to go to sleep at night for the first few months after release of Early Access, because I was quite excited that so many people were playing and wanted to provide feedback that I stayed up and talked to a lot of people on Discord - and getting to know a lot of new really cool people. Or getting up at 2 pm to see Valkyrae stream to 500.000 people on YouTube. I didn’t feel exhausted at all for some time, because it was an adrenaline rush to see your art, your work and all the team’s extremely hard work being taken serious and enjoyed by everyone. Some of the best memories I have is when our game impacted lives in more substantial ways than just entertaining. One of those were when I was making a video and interviewing some players and someone said that First Class Trouble made you make new friends. That got me excited. Or when Adrianna and Henry got married after meeting in First Class Trouble. What’s more powerful than bringing people together to have fun, to enjoy themselves, to make new friends and to find love. Nothing really.</p>
    <p class="cursive">- Niels A. Wetterberg</p>
</Blog_layout>
</Layout>

<style>

h1{
    margin-top: var(--space-xl);
  }

.headline{
    font-size: var(--text-1);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
  text-shadow: none;
  letter-spacing: 1px;
  margin-top: var(--space-xl);
}

.cursive{
    font-size: var(--text-0);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: var(--space-s);
}

@media (max-width: 800px) {
  
  h1{
    margin-top: var(--space-2xl);
  }

}

</style>