---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Blog_layout from "../layouts/Blog_layout.astro";
---

<Layout title="At Gamescom">
<Blog_layout>
    <h1>Invisible Walls at Gamescom</h1>
    <p>Invisible Walls is in Cologne at Gamescom. </p>
    <img src="/invisible_walls_at_gamescom.jpg" alt="Gamescom">
    <p>We are presenting Project Cainwood to potential investors and publishers and if you are interrested then come hook up with us.</p>
</Blog_layout>
</Layout>

<style>

h1{
    margin-top: var(--space-xl);
  }

.headline{
    font-size: var(--text-1);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
  text-shadow: none;
  letter-spacing: 1px;
  margin-top: var(--space-xl);
}

.cursive{
    font-size: var(--text-0);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: var(--space-s);
}

@media (max-width: 800px) {
  
  h1{
    margin-top: var(--space-2xl);
  }

}

</style>