---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Blog_layout from "../layouts/Blog_layout.astro";
import SinglePostCommentSection from "../components/SinglePostCommentSection.astro";
---

<Layout title="Looking back on First Class Trouble">
<Blog_layout>
    <h1>Looking back on First Class Trouble</h1>
    <p>It's been over a year since First Class Trouble launched in Early Access, but the team has been at work for over three years to bring this game to all of you. There's a lot that can happen over that length of time. Since you've all shared your experiences with us we wanted to share some of our memories with you. We asked the team about some of their fondest memories over the last three years, and here's what they had to say.</p>
    <h4 class="headline">From the Captain</h4>
    <p>I have so many fond memories. I remember not being able to go to sleep at night for the first few months after release of Early Access, because I was quite excited that so many people were playing and wanted to provide feedback that I stayed up and talked to a lot of people on Discord - and getting to know a lot of new really cool people. Or getting up at 2 pm to see Valkyrae stream to 500.000 people on YouTube. I didn’t feel exhausted at all for some time, because it was an adrenaline rush to see your art, your work and all the team’s extremely hard work being taken serious and enjoyed by everyone. Some of the best memories I have is when our game impacted lives in more substantial ways than just entertaining. One of those were when I was making a video and interviewing some players and someone said that First Class Trouble made you make new friends. That got me excited. Or when Adrianna and Henry got married after meeting in First Class Trouble. What’s more powerful than bringing people together to have fun, to enjoy themselves, to make new friends and to find love. Nothing really.</p>
    <p class="cursive">- Niels A. Wetterberg</p>
    <img src="/looking_back_on_first_class_trouble.jpg" alt="A table reserved for two from the game">
    <h4 class="headline">On the early days</h4>
    <p>I still fondly remember back when the only way to interact with other players was by "syringing" them. Thus, out of frustration for only having a single binary action, shoving and rag-dolling was born, which later evolved to all kinds of things.</p>
    <p class="cursive">- Kasper Vendeldo</p>
    <p>The first match we played after Vendelbo had implemented throwing champagne bottles, everyone was throwing bottles at each others faces instead of playing the game and finding the Personoids. I laughed a lot.</p>
    <p class="cursive">- Kasper Boisen</p>
    <p>One memory that still stands out to be is from our first actual playtest. We had scraped together a small group of close friends that were kind enough to visit our office to test it. A girlfriend of one of our developers was convinced she was working with a fellow resident. At the very end of the game she was betrayed when they were only two left. Her scream echoed through the walls of the university where we had our first office. I was standing in a room two doors down with the player who betrayed her and we were dead laughing. That was the moment I felt we were truly on to something.</p>
    <p class="cursive">- Andreas Bech</p>
    <p>This was before I joined the team, but I still remember the first time I playtested and I think it was Moth and Sebastian and a few random people in my first game and just hearing how excited Moth and Sebastian were to talk about the game back then was incredible. We got to the Showdown when absolutely nothing was implemented, and Moth went on a 2 minute rant about the plans for it before revealing he was the Personoid and just killing me.</p>
    <p class="cursive">- David Maciel</p>
    <p>When we released in alpha we had made a hack fix for joining the server, with a code. It worked great (or it worked). 4,5 months before launch in Early Access we changed that system, in fact we changed the entire backend and multiplayer solution. It was super nerve wrecking to have to release a game to a lot of people waiting for it (having seen the wish lists grow and grow). The releasing was fingerbiting. Looking at the server numbers reaching 21.000 players after several meltdowns was both nerve wrecking but also exiting to see that our game could actually reach those kind of numbers. And that so many people wanted to play.</p>
    <p class="cursive">- Jesper Pedersen</p>
    <img src="/blog_image_1.jpg" alt="Image from the game">
    <h4 class="headline">On Community Games</h4>
    <p>One glorious moment I remember was joining a community event where we, the developers, were playing the game with the community and the first thing that happened was me getting flushed out the first airlock - only to the sound of maniacal laughter. That’s the first time I met PsychoSon and Savitar.</p>
    <p class="cursive">- David Jean Heldager</p>
    <p>I fondly remember playing a game with the community as a Personoid where I had gone all the way to the end with everyone a 100% convinced I was resident. It even came as far as people killing off anyone who accused me of being Personoid. Shutting down Cain and hearing everyone's confusion at the end as Personoids won was the greatest moment ever.</p>
    <p class="cursive">- Maja Sayk</p>
    <p>Probably one of the best moments with the community was when I was playing with strangers during an event and we spaced a person based on thin and inconclusive evidence - everyone started the goodbye-coffin dance as the door opened and the victim was flushed out to space. Another good experience, although painful, was the time where someone wore the white wedding dress and Santa Claus beard. He hugged me for a while and whispered in my ear with his tender voice that my pain would soon go away. Then he overdosed me. I also recall the time when I was a Personoid in the mall. I had been exposed and was hiding from the Residents within a bush. They never saw me despite running right next to me, it was an awesome stealth experience. Then I jumped out of the bush and overdosed a lone bypasser.</p>
    <p class="cursive">- Troels Nygaard</p>
    <p>My first time stepping into the ski resort map and seeing it be played by players is a fond memory for me. It was a map I saw getting developed and even had some say in shaping. Seeing everything come together in the end and all polish applied(like the little christmassy jingle that played when you enter) made for a super cool experience. It was also a great memory seeing how many appreciated seeing the OST landing on Spotify, me included!</p>
    <p class="cursive">- Hugo Rogmark</p>
    <img src="/blog_image_2.jpg" alt="Image from the game">
    <h4 class="headline">On Content Creators</h4>
    <p>I remember when Kaif picked up the game at random with no input, and had fun with rag-dolling and the stuff we had built, was pretty wild. I had mainly seen him play SCP at the time, being a huge nerd of it myself. It was reassuring, since from my perspective the interest had always been on the smaller side until then.</p>
    <p class="cursive">- Kasper Vendelbo</p>
    <p>My fondest memory is definitely the first time one of the massive streamers started playing FCT and I stayed up quite late watching the stream, reading their chat, and chatting with the entire team through Slack, who were all watching at the same time. It was extremely validating seeing thousands of people enjoy watching someone play a game you made!</p>
    <p class="cursive">- Daniel Everland</p>
    <p>I loved watching the First Class Trouble tournament and seeing the absolute min maxing of points that the tournament was. Never have I ever seen so many buttons being pressed and trust votes being made. Creating content for the tournament winners that will forever live on in the game was amazing!</p>
    <p class="cursive">- David Jean Heldager</p>
    <p>One morning I woke up at 8AM to discover that we had 95.000 live viewers on Twitch, which is still the record to this date. It was definitely a moment of joy and pride. Having spent 2,5 years reaching that point. A very positive surprise  Also when we hoped Yogscast would pick up the game and a few weeks later they actually did.</p>
    <p class="cursive">- Sebastian Bevensee</p>
    <p>Watching the first episode of Merz and Luci's podcast and seeing that the community we've built is mostly people that just want to lift each other up was something really special, and helped to remind me that there a a lot of really good people in the community.</p>
    <p class="cursive">- David Maciel</p>
    <p>Also the Katy Perry Personoid kill montage Hendo made.</p>
    <p class="cursive">- Connor Nielsen</p>
    <p class="sign_off">Thank you for reading.</p>
    <p class="sign_off">Thank you for playing.</p>
    <p class="sign_off">Most important of all, thank you for the memories.</p>
    <p class="cursive">- The Invisible Walls Team</p>
    <SinglePostCommentSection blogPostID="looking_back_on_first_class_trouble"/>
</Blog_layout>
</Layout>

<style>

h1{
    margin-top: var(--space-xl);
  }

.headline{
    font-size: var(--text-1);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
  text-shadow: none;
  letter-spacing: 1px;
  margin-top: var(--space-xl);
}

.cursive{
    font-size: var(--text-0);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: var(--space-s);
  margin-bottom: 3rem;
}

.sign_off{
  margin-bottom: var(--space-xs);
  margin-top: var(--space-xs);
}

@media (max-width: 800px) {
  
  h1{
    margin-top: var(--space-2xl);
  }

  .cursive{
    margin-bottom: 2rem;
  }

}

</style>