---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Blog_layout from "../layouts/Blog_layout.astro";
---

<Layout>
<Blog_layout>
    <h1>Your own luxurious private cabin</h1>
    <p>In Cainwood, each round will start out in your own private custom made space cruise cabin. Each player will have control over their own decor and style, which will express themselves as a player.</p>
    <p>The goal is to provide customizable options with a alternative mid-century modern style with a twist of contempory nordic design interior classics.</p>
    <p>Below you can see the interior as sketched out by our art director Andreas Bech.</p>
    <img src="/your_own_luxurious_private_cabin.jpg" alt="Image from the game">
    <p>On the following image you can see that we did not end up far away from the intended goal in terms of implementation. Of course this is still a work in progress, but it does showcase the direction that we wish to push the overall artstyle dictated by the interior design and overarching setting.</p>
    <img src="/cabin.jpg" alt="Image from the game">
    <p>Check out the gallery below to see a extended look at the implemented result in Unreal Engine.</p>
    <div class="galleri">
      <img src="/galleri_9.jpg" alt="image from the game">
      <img src="/galleri_10.jpg" alt="image from the game">
      <img src="/galleri_11.jpg" alt="image from the game">
      <img src="/galleri_12.jpg" alt="image from the game">
      <img src="/galleri_13.jpg" alt="image from the game">
      <img src="/galleri_14.jpg" alt="image from the game">
    </div>
    <p>We hope you enjoyed the little sneak peak at one of the few rooms that you will traverse aboard the space cruise ship.</p>
    <p class="cursive">- Invisible Walls</p>
    <p class="orange">#UnrealEngine #cainwood</p>
</Blog_layout>
</Layout>

<style>

h1{
    margin-top: var(--space-xl);
  }

.headline{
    font-size: var(--text-1);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
  text-shadow: none;
  letter-spacing: 1px;
  margin-top: var(--space-xl);
}

.cursive{
    font-size: var(--text-0);
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: var(--space-s);
}

.galleri{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 800px) {
  
  h1{
    margin-top: var(--space-2xl);
  }

}

</style>