---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
---

<Layout title="IW Blog">
    <section class="blog_section">
        <div class="grid_placement section_1 active">
            <BlogPostCard blogLink="/blog_post_looking_back_at_first_class_trouble" blogImage="/looking_back_on_first_class_trouble.jpg" imageAlt="A reserved table from First Class Trouble" blogDate="Jun 14, 2022" headline="Looking back at First Class Trouble" text="It's been over a year since First Class Trouble launched in Early Access, but the team has been at work for over three years to bring..."/>
            <BlogPostCard blogLink="" blogImage="/celebrating_one_year_of_first_class_trouble.jpg" imageAlt="Celebrating one year" blogDate="Apr 7, 2022" headline="Celebrating One Year of First Class Trouble" text="It's been a year since First Class Trouble launched in Early"/>
            <BlogPostCard blogLink="" blogImage="/invisible_walls_at_gdc.jpg" imageAlt="Game developers conference" blogDate="Mar 19, 2019" headline="Invisible Walls at GDC" text="The three musketeers of Invisible Walls (Sebastian, Niels & David) have flown halfway around the globe (if you still believe in such a..."/>
            <BlogPostCard blogLink="" blogImage="/your_own_luxurious_private_cabin.jpg" imageAlt="Image from First Class Trouble" blogDate="Mar 6, 2019" headline="Your own luxurious private cabin" text="In Cainwood, each round will start out in your own private custom made space cruise cabin. Each player will have control over their own..."/>
            <BlogPostCard blogLink="" blogImage="/invisible_walls_at_gamescom.jpg" imageAlt="Gamescom" blogDate="Aug 21, 2018" headline="Invisible Walls at Gamescom" text="Invisible Walls is at Gamescom"/>
        </div>
        <div class="grid_placement section_2">
            <BlogPostCard blogLink="" blogImage="/snow_in_cainwood.jpg" imageAlt="Image from project Cainwood" blogDate="Feb 14, 2018" headline="Snow in Cainwood" text="Development blog detailling the development of the particle and snow system in Project Cainwood."/>
            <BlogPostCard blogLink="" blogImage="/project_cainwood.jpg" imageAlt="Image from project Cainwood" blogDate="Jan 15, 2018" headline="Project Cainwood" text="Invisible Walls are proud to announce Project Cainwood a cooperative multiplayer game of trust, betrayal and survival."/>
            <BlogPostCard blogLink="" blogImage="/welcome_to_the_development_blog_of_invisible_walls.jpg" imageAlt="Image from first office" blogDate="Jan 15, 2018" headline="Welcome to the development blog of Invisible Walls" text="The first development blog of the Invisible Walls studio"/>
        </div>
    </section>
</Layout>
<style>

    .blog_section{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .grid_placement{
        grid-column: 2;
        display: none;
    }

    .active{
        display: block;
    }

    @media (max-width: 800px) {
        .blog_section{
        display: grid;
        grid-template-columns: 30px 1fr 30px;
    }

    }

</style>