---
import "../styles/global.css";
---

<h1>Hej med dig og velkommen til siden, NU LAVER VI LIGE EN TEST!</h1>
<h2>Hej med dig og velkommen til siden, NU LAVER VI LIGE EN TEST!</h2>
<h3>Hej med dig og velkommen til siden, NU LAVER VI LIGE EN TEST!</h3>
<h4>Hej med dig og velkommen til siden, NU LAVER VI LIGE EN TEST!</h4>
<p>Hej med dig og velkommen til siden, NU LAVER VI LIGE EN TEST!</p>

<style>

</style>
