---
import "../styles/global.css";
import { Image } from "astro:assets";
import bigLogoDark from "../assets/big_logo_dark_text.svg";
import bigLogoLight from "../assets/big_logo_light_text.svg";
import kimFighting from "../assets/kim_fight_01.svg";
import maryFighting from "../assets/mary_fight_02.svg";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import HomePageSectionOrange from "../components/HomePageSectionOrange.astro";
import HomePageSectionBlue from "../components/HomePageSectionBlue.astro";
---

<Layout title="Invisible Walls">
    <section>
        <Image src={kimFighting} alt="game character kim" class="kim"/>
        <div class="flex">
        <Image src={bigLogoDark} alt="Invisible Walls logo" class="big_logo_dark"/>
        <Image src={bigLogoLight} alt="Invisible Walls logo" class="big_logo_light"/>
        <p>
            Is the award winning studio behind First Class Trouble and Aporia: Beyond the Valley. Our focus is creating social strategy games, where social interaction is core to the experience - and games that are as fun to watch as they are to play.</p>
        <Button btnlink="/the_team" btntext="meet the team" />
        </div>
        <Image src={maryFighting} alt="game character mary" class="mary"/>
    </section>
    <HomePageSectionOrange/>
    <HomePageSectionBlue/>

</Layout>
<style>

    section{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        margin-top: -5%;
    }

    .flex{
        grid-column: 5/7;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-xl)
    }

    p{
        text-align: center;
        width: 65ch;
    }

    .kim{
        grid-column: 2/4;
        width: 120%;
    }

    .mary{
        grid-column: 8/10;
        grid-row: 2;
        margin-top: -80%;
        width: 110%;
    }

    .big_logo_light{
        display: none;
        
    }


    :global(.dark) .big_logo_light{
        display: block;
    }

    :global(.dark) .big_logo_dark{
        display: none;
    }


</style>
