---
import "../styles/global.css";
import NavBar from "./NavBar.astro";
import { Image } from "astro:assets";
import trap from "../assets/trap.svg"
---

<header>
    
    <section class="navigation_section">
        <NavBar/>
    </section>
    <Image src={trap} alt="A trap with empty food cans" class="header_image"/>
    
</header>

<style>

    header{
        background: linear-gradient(var(--iw-color-orange), var(--background-color));
        display:grid;
        grid-template-columns: repeat(8, 1fr);
    }

    .navigation_section{
        background-color: var(--section-color);
        grid-column: 2 / 8;
        margin-top: 25px;
        padding-block: 15px;
        padding-inline: 30px;
        border-radius: 5px;
        box-shadow: -4px 2px 0px 8px var(--iw-color-blue);
    }

    .header_image{
        grid-column: 7 / span 2;
        margin-top: -4%;
        
    }

</style>