---
import "../styles/global.css";
import { Image } from "astro:assets";
import smallLogoDark from "../assets/small_logo_dark_text.svg"
import smallLogoLight from "../assets/small_logo_light_text.svg"
import LightDarkModeButton from "./LightDarkModeButton.astro";
import BurgerMenu from "./BurgerMenu.astro";
---

<div class="nav_links">
    <a href="/" class="small_logo_dark"><Image src={smallLogoDark} alt="Invisible Walls logo" /></a>
    <a href="/" class="small_logo_light"><Image src={smallLogoLight} alt="Invisible Walls logo" /></a>
    <a href="/iw_originals" class="iw_originals">IW Originals</a>
    <a href="/iw_studio" class="iw_studio">IW Studio</a>
    <a href="/blog" class="blog">Blog</a>
    <a href="/iw_prelude" class="iw_prelude">IW Prelude</a>
    <a href="/the_team" class="the_team">The Team</a>
    <div class="light_dark_button_and_burger_menu">
        <LightDarkModeButton/>
        <BurgerMenu/>
    </div>
</div>

<style>

.nav_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light_dark_button_and_burger_menu{
    display: flex;
    align-items: center;
    gap: 10px;
}

a{
    text-decoration: none;
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
    margin-block: var(--space-xs);
}

a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--iw-color-orange);
}

.active{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--text-color);
}


.small_logo_light{
        display: none;
    }

    :global(.dark) .small_logo_light{
        display: flex;
    }

    :global(.dark) .small_logo_dark{
        display: none;
    }

    @media (max-width: 800px) {
  
        .iw_originals, .iw_studio, .blog, .iw_prelude, .the_team{
            display: none;
        }

}

</style>

<script>
    const path = location.pathname.replace("/", "");
    document.querySelector(`.${path}`).classList.add("active");
    
</script>
