---
import "../styles/global.css";
---


    <form action="">
        <input type="email" name="email" id="email" required autocomplete="on" placeholder="Write your email*">
        <input type="submit" id="submit" value="SIGN ME UP!">
    </form>


<style>

    #email{
        background-color: var(--iw-color-white);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: var(--text-0);
        font-weight: 500;
        margin: 0px;
        padding-block: 15px;
        padding-inline: 30px;
        border-radius: 5px 0px 0px 5px;
        width: 60%;
    }

    #email::placeholder{
        color: var(--text-color);
    }

    #submit{
        background-color: var(--iw-color-blue);
        font-size: var(--text-0);
        font-family: "Atma", system-ui;
        font-weight: 700;
        font-style: normal;
        text-shadow: 1px 1px var(--iw-color-orange);
        letter-spacing: 2px;
        box-shadow: inset -2px 3px 0px var(--iw-color-white);
        margin: 0px;
        margin-left: -5px;
        padding-block: 15px;
        padding-inline: 30px;
        border-radius: 0px 5px 5px 0px;
        width: 40%;
    } 

    form{
        justify-self: center;
        box-shadow: 1px 2px 0px 6px var(--iw-color-orange);
        border-radius: 5px;
        width: 90%;
    }


</style>

<script>
   
   const form = document.querySelector("form");
   const submitBTN = document.getElementById("submit");
   const formData = new FormData (form, submitBTN);

   console.log(formData);

// fetch("https://wuzmmlwpfulvbchhzozo.supabase.co/rest/v1/news_sign_up", {
//   method: "POST",
//   body: JSON.stringify({
//     email: ,
//   }),
//   headers: {
//     "Content-type": "application/json; charset=UTF-8",
//     "x-apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind1em1tbHdwZnVsdmJjaGh6b3pvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI4MTMyNjgsImV4cCI6MjA0ODM4OTI2OH0.XvH4JaE3egPbv5FstR2ntPAX94NksXLAZoKiN1t-wvw",
//     "cache-control": "no-cache",
// }
// })
//   .then((response) => response.json())
//   .then((json) => console.log(json));

</script>





<!-- https://wuzmmlwpfulvbchhzozo.supabase.co/rest/v1/news_sign_up
-H "apikey: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind1em1tbHdwZnVsdmJjaGh6b3pvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI4MTMyNjgsImV4cCI6MjA0ODM4OTI2OH0.XvH4JaE3egPbv5FstR2ntPAX94NksXLAZoKiN1t-wvw" \
-H "Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind1em1tbHdwZnVsdmJjaGh6b3pvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI4MTMyNjgsImV4cCI6MjA0ODM4OTI2OH0.XvH4JaE3egPbv5FstR2ntPAX94NksXLAZoKiN1t-wvw"
           -->